<!DOCTYPE HTML><html lang="en">
   <head>
      <meta charset="UTF-8">
      <title>American Heritage Center</title>
      <link rel="canonical" href="https://www.uwyo.edu/ahc/index.html">
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
      <meta content="index,follow" name="robots">
      <meta content="7 days" name="revisit-after">
      <meta content="General" name="rating">
      <meta content="English" name="language">
      <meta content="width=device-width, initial-scale=0.86, maximum-scale=3.0, minimum-scale=0.86" name="viewport">
      
<!-- this is the headcode include -->
<!--FB Verification Tag 9/8/21 JG--> 
<meta content="a98pp8fvfptlzvdcxsi0s2aqteb7d1" name="facebook-domain-verification"/>

<!-- Google Tag Manager -->
<script is:inline>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NGHT2RD');</script>
<!-- End Google Tag Manager -->

<!-- Favicon -->
<link href="https://www.uwyo.edu/favicon.ico" rel="icon" type="image/ico"/>
<!-- Latest compiled and minified CSS -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<!-- Optional theme -->
<link rel="stylesheet" href="https://www.uwyo.edu/_resources/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous"/>

<link href="https://www.uwyo.edu/_resources/css/slick.css" rel="stylesheet" type="text/css"/>
<link href="https://www.uwyo.edu/_resources/css/slick-theme.css" rel="stylesheet" type="text/css"/>
<link href="https://www.uwyo.edu/_resources/css/magnific-pop.css" rel="stylesheet" type="text/css"/>
<link href="https://www.uwyo.edu/_resources/css/grid.css" rel="stylesheet" type="text/css"/>
<link href="https://www.uwyo.edu/_resources/css/blog.css" rel="stylesheet" type="text/css"/>
<link href="https://www.uwyo.edu/_resources/css/styles.css" rel="stylesheet" type="text/css"/>

<!--=== Add By Designer ===-->
<link href="https://www.uwyo.edu/_resources/css/tempglobal.css" rel="stylesheet"/>
<link href="https://www.uwyo.edu/_resources/css/custom.css" rel="stylesheet"/>
<link href="https://www.uwyo.edu/_resources/fonts/fonts.css" rel="stylesheet"/>
<link href="https://www.uwyo.edu/_resources/css/custom-responsive.css" rel="stylesheet"/>
<link href="https://www.uwyo.edu/_resources/css/yamm.css" rel="stylesheet"/>
<link href="https://www.uwyo.edu/_resources/css/designstudio.css" rel="stylesheet"/>

<!--Add by Dev-->
<link href="https://www.uwyo.edu/_resources/css/omnidev.css" rel="stylesheet"/>

<!-- Font Awesome -->
<!--<link href="https://www.uwyo.edu/_resources/css/fontawesome.min.css" rel="stylesheet"/>-->
<link rel="stylesheet" href="https://kit.fontawesome.com/9244f1b63a.css" crossorigin="anonymous">

<!--Pathways Custom Override Styles-->
<link href="https://www.uwyo.edu/_resources/css/pathways-custom.css" rel="stylesheet"/>

<!--=== Windows Phone JS Code Start ===-->
<script is:inline type="text/javascript">
	if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
		var msViewportStyle = document.createElement('style')
		msViewportStyle.appendChild(
			document.createTextNode(
				'@-ms-viewport{width:auto!important}'
				)
			)
		document.querySelector('head').appendChild(msViewportStyle)
	}
</script>
<link href="https://www.uwyo.edu/ou-alerts/alerts-config.alerts.css?v=2.1-20230620172916" rel="stylesheet">
<!-- Google tag (gtag.js) -->
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-DCJG3HESYS"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DCJG3HESYS');
</script>
      <meta property="og:image" content="https://www.uwyo.edu/_resources/images/og-images/ahc.jpg">
      <meta property="og:image:alt" content="Aerial shot of the American Heritage Center">
      <meta property="og:title" content="American Heritage Center">
      <meta property="og:url" content="https://www.uwyo.edu/ahc/index.html">
      <meta property="og:description" content="">
      <meta property="og:site_name" content="UWYO American Heritage Center">
      <meta property="og:type" content="website">
      <meta property="og:updated_time" content="2024-01-11T09:35:39.554207542-08:00">
      <meta name="twitter:card" content="summary_large_image">
      <meta name="twitter:url" content="https://www.uwyo.edu/ahc/index.html">
      <meta name="twitter:title" content="American Heritage Center">
      <meta name="twitter:description" content="">
      <meta name="twitter:image" content="https://www.uwyo.edu/_resources/images/campus-aerial-social-share-winter.jpg">
      <meta name="twitter:image:alt" content="sample default alt text">
      <meta name="twitter:creator" content="@uwyo">
      <meta name="twitter:site" content="UWYO">
   </head>
   <body class="common-typography">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NGHT2RD"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><header class="header clearfix">
   <div class="h-main-content">
      <div class="h-top clearfix">
         <div class="container">
            <div class="h-top-content">
               <div class="navbar yamm navbar-default">
                  <div class="navbar-header">
                     <div id="mobile-slidedown-search" style="display: none;">
                        <form action="https://search.uwyo.edu/s/search.html" aria-label="UW Global Search" autocomplete="off" method="get"><input type="text" name="query" id="query" class="form-control" placeholder="Search the UW site..."><input id="collection" name="collection" type="hidden" value="uwyo-search"><button type="submit" class="search-icon">Search</button></form>
                     </div><button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-collapse-1"><span class="sr-only">Toggle Menu</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><div class="mobile-search-icon-div visible-xs visible-sm"><button id="mobile-search-btn" style="background: none; border: none;"><img src="https://www.uwyo.edu/_resources/images/search-icon-white.svg" alt="search-icon" class="img-responsive"></button></div>
                     <script is:inline src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script is:inline>
	$(document).ready(function () {
		$("#mobile-search-btn").click(function () {
			$("#mobile-slidedown-search").toggle("fast", "linear");
		});
	});
	$(window).on('resize', function () {
		var win = $(this); //this = window
		if (win.width() >= 852) { $('#mobile-slidedown-search').css("display", "none"); }
	});
</script><a class="navbar-brand" href="https://www.uwyo.edu/index.html"><img src="https://www.uwyo.edu/_resources/images/white-logo.png" alt="University of Wyoming Logo" class="img-responsive"></a></div>
                  <div class="navbar-collapse collapse" id="navbar-collapse-1">
                     <ul class="nav navbar-nav visible-xs visible-sm">
                        <li><a href="https://www.uwyo.edu/admissions/apply.html" target="_self" class="btn btn-high-action h-apply-button visible-xs visible-sm"><span>Apply to UW</span></a></li>
                        <li><a href="https://search.uwyo.edu/s/search.html?collection=uwyo-program-finder-meta" target="_blank">Programs &amp; Majors</a></li>
                        <li><a href="https://www.uwyo.edu/admissions/index.html" target="_self">Admissions</a></li>
                        <li><a href="https://www.uwyo.edu/sfa/index.html" target="_self">Cost &amp; Financial Aid</a></li>
                        <li><a href="https://www.uwyo.edu/uw/current-students.html" target="_self">Current Students</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Academics<span class="caret"></span></a><ul class="dropdown-menu">
                              <li><a href="https://www.uwyo.edu/libraries/index.html" target="_blank" rel="noopener">UW Libraries</a></li>
                              <li><a href="https://www.uwyo.edu/distance/index.html">Online Degrees</a></li>
                              <li><a href="https://www.uwyo.edu/registrar/university_catalog/index.html">Catalogs &amp; Courses</a></li>
                              <li><a href="https://www.uwyo.edu/registrar/degree-plans/index.html">Degree Plans</a></li>
                              <li><a href="https://www.uwyo.edu/aces/index.html">Advising &amp; Career Services</a></li>
                              <li><a href="https://www.uwyo.edu/law/index.html">UW College of Law</a></li>
                              <li><a href="https://www.uwyo.edu/honors/index.html">Honors College</a></li>
                              <li><a href="https://www.uwyo.edu/acadaffairs/index.html">Academic Affairs</a></li>
                              <li><a href="https://www.uwyo.edu/artmuseum/index.html">Art Museum</a></li>
                              <li><a href="https://www.uwyo.edu/geomuseum/index.html">Geological Museum</a></li>
                              <li><a href="https://www.uwyo.edu/uw/colleges.html">All Colleges</a></li>
                           </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">UW Life<span class="caret"></span></a><ul class="dropdown-menu">
                              <li><a href="https://www.uwyo.edu/rec/index.html">Campus Recreation</a></li>
                              <li><a href="https://www.uwyo.edu/uw/maps/index.html">Campus Maps</a></li>
                              <li><a href="https://www.uwyo.edu/living/index.html">Housing &amp; Dining</a></li>
                              <li><a href="https://www.uwyo.edu/transportation/index.html">Transit &amp; Parking</a></li>
                              <li><a href="https://www.uwyostore.com/" target="_blank" rel="noopener">University Store</a></li>
                              <li><a href="https://www.uwyo.edu/csil/student-orgs/index.html">Student Organizations</a></li>
                              <li><a href="https://www.uwyo.edu/csil/student-orgs-entertainment/index.html">Campus Activities</a></li>
                              <li><a href="https://www.uwyo.edu/uw/calendar/index.html">Events</a></li>
                              <li><a href="https://www.uwyo.edu/uw/campus-safety.html">Campus Safety</a></li>
                              <li><a href="https://www.uwyo.edu/diversity/index.html">Diversity, Equity &amp; Inclusion</a></li>
                           </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Research<span class="caret"></span></a><ul class="dropdown-menu">
                              <li><a href="https://www.uwyo.edu/research/index.html">Research &amp; Economic Dev.</a></li>
                              <li><a href="https://www.uwyo.edu/wyominginbre/index.html">Wyoming INBRE</a></li>
                              <li><a href="https://www.uwyo.edu/neuroscience/index.html">Neuroscience Center</a></li>
                              <li><a href="https://impact307.org/" target="_blank" rel="noopener">Technology Business Center</a></li>
                              <li><a href="https://uwnps.org/" target="_blank" rel="noopener">National Parks Service</a></li>
                              <li><a href="https://www.uwyo.edu/rpc/index.html">Research Production Center</a></li>
                              <li><a href="https://www.uwyo.edu/nwsc/index.html">Supercomputing</a></li>
                              <li><a href="https://www.uwyo.edu/civil/research/index.html">Water Research</a></li>
                              <li><a href="https://www.uwyo.edu/epscor/index.html">WY EPSCoR/IDeA</a></li>
                              <li><a href="https://www.uwyo.edu/ahc/index.html">American Heritage Center</a></li>
                           </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">About UW<span class="caret"></span></a><ul class="dropdown-menu">
                              <li><a href="https://www.uwyo.edu/uw/aboutuw/index.html">Who We Are</a></li>
                              <li><a href="https://www.uwyo.edu/uw/aboutuw/areas-of-excellence.html">Where We Shine</a></li>
                              <li><a href="https://www.uwyo.edu/uw/aboutuw/about-laramie.html">About Laramie</a></li>
                              <li><a title="Open UW Student Blogs" href="https://www.uwyo.edu/admissions/blog/index.html">Student Stories</a></li>
                              <li><a href="https://www.uwyo.edu/oia/fact-book.html">Campus Fact Book</a></li>
                              <li><a href="https://www.uwyo.edu/uwyo/current/index.html">UWYO Magazine</a></li>
                              <li><a href="https://www.uwyo.edu/publicrelations/marketing/uw-brand-center.html">Marketing &amp; Brand Center</a></li>
                              <li><a href="https://www.uwyo.edu/uw/administrative.html">Administrative Resources</a></li>
                              <li><a href="https://www.uwyo.edu/strategic-plan/index.html">Strategic Plan</a></li>
                              <li><a href="https://www.uwyo.edu/news/index.html">News</a></li>
                           </ul>
                        </li>
                     </ul>
                     <div class="request-visit-button mobile-menu-button"><a href="https://www.uwyo.edu/admissions/request-information/index.html" class="btn btn-medium-action" target="_self">REQUEST INFO</a><a href="https://www.uwyo.edu/admissions/visit/index.html" class="btn btn-medium-action" target="_self">VISIT CAMPUS</a></div>
                     <ul class="nav navbar-nav">
                        <li><a href="https://wyoweb.uwyo.edu/" target="_blank">WyoWeb</a></li>
                        <li><a href="https://www.uwyo.edu/giveonline" target="_blank">Giving</a></li>
                        <li><a href="https://gowyo.com/" target="_blank">Athletics</a></li>
                        <li><a href="https://www.uwyo.edu/alumni/index.html" target="_self">Alumni</a></li>
                        <li class="login hidden-xs hidden-sm"><a href="https://uwyo-erx.my.site.com/ERx_Forms__Portal_Login" target="_blank">+Application Login</a></li>
                     </ul><a href="https://uwyo-erx.my.site.com/ERx_Forms__Portal_Login" class="btn btn-high-action h-apply-button visible-xs visible-sm" target="_blank"><span>+Application Login</span></a><div class="h-searchbox hidden-sm">
                        <form action="https://search.uwyo.edu/s/search.html" aria-label="UW Global Search" autocomplete="off" method="get" style="     margin-bottom:  0px; "><label for="mobileheadersearch" class="sr-only">Search</label><input type="text" name="query" id="query" class="form-control" placeholder="Search the UW site..."><input id="collection" name="collection" type="hidden" value="uwyo-search"><button type="submit" class="search-icon" style="     border: none;     background: none; "><img src="https://www.uwyo.edu/_resources/images/search-icon.svg" alt="search-icon" class="img-responsive hidden-sm"><img src="https://www.uwyo.edu/_resources/images/search-icon-white.svg" alt="search-icon" class="img-responsive visible-sm"></button></form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="h-bottom clearfix hidden-xs hidden-sm">
         <div class="container">
            <div class="h-bottom-content">
               <div class="navbar yamm navbar-default">
                  <div class="navbar-collapse collapse" id="navbar-collapse-2">
                     <ul class="nav navbar-nav">
                        <li><a href="https://search.uwyo.edu/s/search.html?collection=uwyo-program-finder-meta" target="_blank">Programs &amp; Majors</a></li>
                        <li><a href="https://www.uwyo.edu/admissions/index.html" target="_self">Admissions</a></li>
                        <li><a href="https://www.uwyo.edu/sfa/index.html" target="_self">Cost &amp; Financial Aid</a></li>
                        <li><a href="https://www.uwyo.edu/uw/current-students.html" target="_self">Current Students</a></li>
                        <li class="dropdown more-list-dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">More</a><ul class="dropdown-menu">
                              <li>
                                 <div class="yamm-content">
                                    <div class="row">
                                       <div class="col-sm-12 col-md-4 col-lg-3">
                                          <div class="yamm-content-block">
                                             <ul class="list-unstyled">
                                                <li>
                                                   <p><strong>Academics</strong></p>
                                                </li>
                                                <li><a href="https://www.uwyo.edu/libraries/index.html" target="_blank" rel="noopener">UW Libraries</a></li>
                                                <li><a href="https://www.uwyo.edu/distance/index.html">Online Degrees</a></li>
                                                <li><a href="https://www.uwyo.edu/registrar/university_catalog/index.html">Catalogs &amp; Courses</a></li>
                                                <li><a href="https://www.uwyo.edu/registrar/degree-plans/index.html">Degree Plans</a></li>
                                                <li><a href="https://www.uwyo.edu/aces/index.html">Advising &amp; Career Services</a></li>
                                                <li><a href="https://www.uwyo.edu/law/index.html">UW College of Law</a></li>
                                                <li><a href="https://www.uwyo.edu/honors/index.html">Honors College</a></li>
                                                <li><a href="https://www.uwyo.edu/acadaffairs/index.html">Academic Affairs</a></li>
                                                <li><a href="https://www.uwyo.edu/artmuseum/index.html">Art Museum</a></li>
                                                <li><a href="https://www.uwyo.edu/geomuseum/index.html">Geological Museum</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/colleges.html">All Colleges</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="col-sm-12 col-md-4 col-lg-3">
                                          <div class="yamm-content-block">
                                             <ul class="list-unstyled">
                                                <li>
                                                   <p><strong>UW Life</strong></p>
                                                </li>
                                                <li><a href="https://www.uwyo.edu/rec/index.html">Campus Recreation</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/maps/index.html">Campus Maps</a></li>
                                                <li><a href="https://www.uwyo.edu/living/index.html">Housing &amp; Dining</a></li>
                                                <li><a href="https://www.uwyo.edu/transportation/index.html">Transit &amp; Parking</a></li>
                                                <li><a href="https://www.uwyostore.com/" target="_blank" rel="noopener">University Store</a></li>
                                                <li><a href="https://www.uwyo.edu/csil/student-orgs/index.html">Student Organizations</a></li>
                                                <li><a href="https://www.uwyo.edu/csil/student-orgs-entertainment/index.html">Campus Activities</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/calendar/index.html">Events</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/campus-safety.html">Campus Safety</a></li>
                                                <li><a href="https://www.uwyo.edu/diversity/index.html">Diversity, Equity &amp; Inclusion</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="col-sm-12 col-md-4 col-lg-3">
                                          <div class="yamm-content-block">
                                             <ul class="list-unstyled">
                                                <li>
                                                   <p><strong>Research</strong></p>
                                                </li>
                                                <li><a href="https://www.uwyo.edu/research/index.html">Research &amp; Economic Dev.</a></li>
                                                <li><a href="https://www.uwyo.edu/wyominginbre/index.html">Wyoming INBRE</a></li>
                                                <li><a href="https://www.uwyo.edu/neuroscience/index.html">Neuroscience Center</a></li>
                                                <li><a href="https://impact307.org/" target="_blank" rel="noopener">Technology Business Center</a></li>
                                                <li><a href="https://uwnps.org/" target="_blank" rel="noopener">National Parks Service</a></li>
                                                <li><a href="https://www.uwyo.edu/rpc/index.html">Research Production Center</a></li>
                                                <li><a href="https://www.uwyo.edu/nwsc/index.html">Supercomputing</a></li>
                                                <li><a href="https://www.uwyo.edu/civil/research/index.html">Water Research</a></li>
                                                <li><a href="https://www.uwyo.edu/epscor/index.html">WY EPSCoR/IDeA</a></li>
                                                <li><a href="https://www.uwyo.edu/ahc/index.html">American Heritage Center</a></li>
                                             </ul>
                                          </div>
                                       </div>
                                       <div class="col-sm-12 col-md-4 col-lg-3">
                                          <div class="yamm-content-block">
                                             <ul class="list-unstyled">
                                                <li>
                                                   <p><strong>About UW</strong></p>
                                                </li>
                                                <li><a href="https://www.uwyo.edu/uw/aboutuw/index.html">Who We Are</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/aboutuw/areas-of-excellence.html">Where We Shine</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/aboutuw/about-laramie.html">About Laramie</a></li>
                                                <li><a title="Open UW Student Blogs" href="https://www.uwyo.edu/admissions/blog/index.html">Student Stories</a></li>
                                                <li><a href="https://www.uwyo.edu/oia/fact-book.html">Campus Fact Book</a></li>
                                                <li><a href="https://www.uwyo.edu/uwyo/current/index.html">UWYO Magazine</a></li>
                                                <li><a href="https://www.uwyo.edu/publicrelations/marketing/uw-brand-center.html">Marketing &amp; Brand Center</a></li>
                                                <li><a href="https://www.uwyo.edu/uw/administrative.html">Administrative Resources</a></li>
                                                <li><a href="https://www.uwyo.edu/strategic-plan/index.html">Strategic Plan</a></li>
                                                <li><a href="https://www.uwyo.edu/news/index.html">News</a></li>
                                             </ul>
                                             <div class="request-visit-button"><a href="https://www.uwyo.edu/admissions/request-information/index.html" class="btn btn-medium-action" target="_self">REQUEST INFO</a><a href="https://www.uwyo.edu/admissions/visit/index.html" class="btn btn-low-action" target="_self">VISIT CAMPUS</a></div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              </li>
                           </ul>
                        </li>
                     </ul><a href="https://www.uwyo.edu/admissions/apply.html" target="_self" class="btn btn-high-action h-apply-button">Apply to UW</a></div>
               </div>
            </div>
         </div>
      </div>
   </div>
</header><!--horizontal nav: -->
      <div class="content clearfix"></div>
      <div>
         <div class="fullGold">
            <div class="no-parallax-overlay">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <h1 class="large" style="text-align: center;">AMERICAN HERITAGE CENTER</h1>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="fullGray">
            <div class="no-parallax-overlay">
               <div class="container">
                  <div class="row">
                     
                     <h4 style="text-align: center;">Note: The AHC will be closed Monday January 15, 2024 for Martin Luther King Day&nbsp;&nbsp;
                        <a href="https://www.givecampus.com/campaigns/29199/donations/new"><img src="https://www.uwyo.edu/ahc/images/ahc-iving-button-2024.jpg" alt="Give to the AHC" width="150" height="71"></a></h4>
                     
                     <div class="col-md-12">
                        <ul class="cards">
                           <li class="cards__item">
                              <div class="card">
                                 <div class="card__image"><img alt="Hands typing on an open laptop with window and sunshine in background with the words &#34;Virtual Resources&#34; at the bottom." src="https://www.uwyo.edu/ahc/images/homepage/vrh-homepage-info-card1.jpg"></div>
                                 <div class="card__content">
                                    <hr>
                                    <td colspan="2" data-name="content" data-type="wysiwyg">
                                       
                                       <p><strong>Our <a href="https://www.uwyo.edu/ahc/ahc-virtual-resources-hub2.html">Virtual Resource Hub</a> enables researchers to receive a personalized service that allows them to pursue
                                             all aspects of their research safely and from anywhere.</strong><br><br></p>
                                       
                                       <ul class="list-1Col">
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/remote-research-discovery.html">RRAD Sessions</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/zoom-drop-in-hours.html">Zoom Consultations</a></li>
                                          
                                          <li><a href="https://virmuze.com/m/uwyo-american-heritage-center/" target="_blank" rel="noopener">Virtual Exhibits</a></li>
                                          </ul>
                                       </td>
                                 </div>
                              </div>
                           </li>
                           <li class="cards__item">
                              <div class="card">
                                 <div class="card__image"><img alt="Two students sitting in the garden outside the AHC discussing archives with the words &#34;Visit Us&#34; at the bottom." src="https://www.uwyo.edu/ahc/images/homepage/visit-us-homepage-infocard2.jpg"></div>
                                 <div class="card__content">
                                    <hr>
                                    <td colspan="2" data-name="content" data-type="wysiwyg">
                                       
                                       <p><strong>The AHC is open for research! Visit the links below to plan your visit.</strong><br><br></p>
                                       
                                       <ul class="list-1Col">
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/exhibits.html">See the Exhibits</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/research/how-to-visit.html">Researchers: How to Visit Guide</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/contact/index.html">Contact Us</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/_files/policies/centennial-complex-parking-regulations.pdf">Centennial Complex Parking Regulations</a></li>
                                          </ul>
                                       
                                       <p>&nbsp;</p>
                                       </td>
                                 </div>
                              </div>
                           </li>
                           <li class="cards__item">
                              <div class="card">
                                 <div class="card__image"><img alt="Student storinng AHC collection material in the stacks with the words &#34;Explore Collection&#34; at the bottom." src="https://www.uwyo.edu/ahc/images/homepage/explore-collecitons2.jpg"></div>
                                 <div class="card__content">
                                    <hr>
                                    <td colspan="2" data-name="content" data-type="wysiwyg">
                                       
                                       <p><strong>Visit the <a href="https://7055.sydneyplus.com/public/final/Portal/AHC.aspx?lang=en-US">ArchivEra Public Porta</a><a href="https://7055.sydneyplus.com/public/final/Portal/AHC.aspx?lang=en-US" target="_blank" rel="noopener">l</a> to search the AHC's vast collecting areas or browse.</strong><br><br></p>
                                       
                                       <ul class="list-1Col">
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/collections/index.html">Browse the Collections Index</a></li>
                                          
                                          <li><a href="https://digitalcollections.uwyo.edu/luna/servlet" target="_blank" rel="noopener">Photos and Digitized Resources - LUNA</a></li>
                                          
                                          <li><a href="https://archiveswest.orbiscascade.org/search.php?r=wyuah" target="_blank" rel="noopener">Finding Aids - Archives West</a></li>
                                          
                                          <li><a href="https://uwyo.libguides.com/c.php?g=907000&amp;p=9074652" target="_blank" rel="noopener">Libguides - UW Libraries</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/collections/topics/index.html">Popular Research Topics</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/collections/by-subject/index.html">Subject Guides</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/collections/anaconda/index.html">The Anaconda Geological Documents </a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/ahc/toppan/index.html">Toppan Rare Books Library</a></li>
                                          
                                          <li><a href="https://www.uwyo.edu/libraries/index.html">UW Catalog</a></li>
                                          </ul>
                                       
                                       <p>&nbsp;</p>
                                       </td>
                                 </div>
                              </div>
                           </li>
                        </ul>
                     </div>
                     
                     <p>&nbsp;</p>
                     </div>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="fullGold">
            <div class="no-parallax-overlay">
               <div class="container">
                  <div class="row">
                     
                     	
                     <div class="col-md-12">
                        		
                        <h2 class="large" style="text-align:center;">
                           			Additional Resources
                           		</h2>
                        	</div>
                     	
                     <div class="col-md-12">
                        		
                        <section class="carouselSS" id="featured1">
                           			
                           <div class="slider responsiveX">
                              				<a href="https://virmuze.com/m/uwyo-American-heritage-center/" target="_self" title="">
                                 	
                                 <div class="image">
                                    		
                                    <p class="title">
                                       			Virtual Exhibits
                                       		</p>
                                    		
                                    <p>
                                       			Curated on Virmuze
                                       		</p>
                                    		
                                    <p id="slick-slide1">
                                       		</p>
                                    		<img alt="Students look at an exhibit display" class="img-responsive" src="https://www.uwyo.edu/ahc/images/homepage/digital_ehibits_image.jpg">
                                    	</div>
                                 </a><a href="https://ahcwyo.org/" target="_self" title="">
                                 	
                                 <div class="image">
                                    		
                                    <p class="title">
                                       			Discover History 
                                       		</p>
                                    		
                                    <p>
                                       			Blog of the AHC
                                       		</p>
                                    		
                                    <p id="slick-slide2">
                                       		</p>
                                    		<img alt="student works on her laptop." class="img-responsive" src="https://www.uwyo.edu/ahc/images/homepage/blog_image.jpg">
                                    	</div>
                                 </a><a href="https://www.wyomingpublicmedia.org/show/archives-on-the-air" target="_self" title="">
                                 	
                                 <div class="image">
                                    		
                                    <p class="title">
                                       			Archives on the Air 
                                       		</p>
                                    		
                                    <p>
                                       			Wyo. Public Radio Segment 
                                       		</p>
                                    		
                                    <p id="slick-slide3">
                                       		</p>
                                    		<img alt="Person listening to headphones" class="img-responsive" src="https://www.uwyo.edu/ahc/images/homepage/archives_on_air_image.jpg">
                                    	</div>
                                 </a><a href="https://www.wyominghistoryday.org/" target="_self" title="">
                                 	
                                 <div class="image">
                                    		
                                    <p class="title">
                                       			Wyoming History Day
                                       		</p>
                                    		
                                    <p>
                                       			Official Website 
                                       		</p>
                                    		
                                    <p id="slick-slide4">
                                       		</p>
                                    		<img alt="Bleachers with Wyoming History Day signs." class="img-responsive" src="https://www.uwyo.edu/ahc/images/virtual-reading-room-images/13-nhd-14-carousel-img.jpg">
                                    	</div>
                                 </a><a href="https://www.uwyo.edu/ahc/research/index.html" target="_self" title="">
                                 	
                                 <div class="image">
                                    		
                                    <p class="title">
                                       			Research Guidance
                                       		</p>
                                    		
                                    <p>
                                       			To help get you started
                                       		</p>
                                    		
                                    <p id="slick-slide5">
                                       		</p>
                                    		<img alt="person performing research in the AHC Reading Room" class="img-responsive" src="https://www.uwyo.edu/ahc/images/research-guidance-home-carousel.jpg">
                                    	</div>
                                 </a><a href="https://www.uwyo.edu/ahc/the-ahc.html" target="_self" title="">
                                 	
                                 <div class="image">
                                    		
                                    <p class="title">
                                       			More Resources
                                       		</p>
                                    		
                                    		
                                    <p id="slick-slide6">
                                       		</p>
                                    		<img alt="Outside view of the Centennial Complex " class="img-responsive" src="https://www.uwyo.edu/ahc/images/the-ahc-home-carousel.jpg">
                                    	</div>
                                 </a>
                              			</div>
                           		</section>
                        	</div>
                      
                     </div>
               </div>
            </div>
         </div>
      </div>
      <div>
         <div class="fullWhite">
            <div class="no-parallax-overlay">
               <div class="container">
                  <div class="row">
                     
                     <h1>&nbsp;DECEMBER FEATURED COLLECTION</h1>
                     
                     <p>&nbsp;</p>
                     
                     <div class="col-md-6">
                        
                        <div class="slider singleSlider">
                           	<img alt="Jacob Schwoob posing on a classic road racing bicycle" class="img-responsive" src="https://www.uwyo.edu/ahc/images/featured-collections/january-featured-collection/schwoob-jacob-jan-featured.jpg"><img alt="3 men posing on a tripple seated racing bicycle" class="img-responsive" src="https://www.uwyo.edu/ahc/images/featured-collections/january-featured-collection/schwoob-jacob-jan-featured-3.jpg"><img alt="man standing by culver race car" class="img-responsive" src="https://www.uwyo.edu/ahc/images/featured-collections/january-featured-collection/schwoob-jacob-jan-featured-2.jpg">
                           </div> 
                        </div>
                     <div class="col-md-6 spacing">
                        
                        <h3><a href="https://digitalcollections.uwyo.edu/luna/servlet/uwydbuwy~2~2">JACOB M. SCHWOOB PAPERS</a></h3>
                        
                        <p>Jacob M. Schwoob was born in Ontario in 1874. At the age of 18 he immigrated to the
                           United States, arriving first in Buffalo, New York, then moving to Cody, Wyoming,
                           in 1898. He was business manager of the Cody Trading Company until 1916, when he purchased
                           the store and became its owner. He served in the Wyoming Senate from 1905-1913 and
                           was the author of the state's motor vehicle license law which had a numeral representing
                           each county. Schwoob was honored with license plate number 1 for the term of his life.
                           In 1909 Schwoob married Louise Preas, with whom he had a son, Thornton. In 1926 Jacob
                           Schwoob married Mabel Laird Bulger, who survived him. Jacob Schwoob died in 1932.&nbsp;</p>
                        
                        <p><strong>Past featured collections:</strong></p>
                        
                        <ul style="list-style-type: square;">
                           
                           <li>December: <a href="https://digitalcollections.uwyo.edu/luna/servlet/uwydbuwy~148~148">Finis Mitchell Papers</a></li>
                           
                           <li>November: UW 2024 Historic Calendar on sale now at the <a href="https://www.uwyostore.com/">University Store</a></li>
                           
                           <li>October: <a href="https://digitalcollections.uwyo.edu/luna/servlet/uwydbuwy~157~157">Arthur E. Demaray Papers</a></li>
                           
                           <li>September: <a href="https://digitalcollections.uwyo.edu/luna/servlet/uwydbuwy~129~129">Richard Leferink Scrapbook</a></li>
                           
                           <li>August: <a href="https://digitalcollections.uwyo.edu/luna/servlet/detail/uwydbuwy~116~116~3156540~284246:Frank-Evans-and-Carl-Modesitt-famil">Frank Evans Yellowstone Park Motion Picture</a></li>
                           </ul>
                        </div>
                     </div>
               </div>
            </div>
         </div>
      </div>
      <div class="parallax bgBrown  center" style="background-image: url('https://www.uwyo.edu/ahc/images/headers/cc-flowers.jpg'); background-color: #492f24;" data-speed="4" data-type="background">
         
         <div class="parallax-overlay" style="background: linear-gradient(to bottom, rgba(19, 19, 19, 0.80) 9%, rgba(19, 19, 19, 0.48) 25%, rgba(150, 127, 63, 0) 40%);">
            
            <div class="container">
               
               <div class="col-md-12">
                  
                  <h2 class="large" style="text-align: left;">Important Links</h2>
                  
                  <p>&nbsp;</p>
                  
                  <div class="col-md-12">
                     
                     <p>&nbsp;</p>
                     
                     <div class="row align1">
                        
                        <div class="col-md-3">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/uw-archives/index.html"><span class="btn btn-info">UNIVERSITY ARCHIVES</span></a></p>
                           </div>
                        <div class="col-md-3">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/simpson/index.html"><span class="btn btn-info">SIMPSON INSTITUTE</span></a></p>
                           </div>
                        <div class="col-md-3">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/grants/index.html"><span class="btn btn-info">GRANTS &amp; FELLOWSHIPS</span></a></p>
                           </div>
                        <div class="col-md-3 spacing">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/about/faculty-staff/index.html"><span class="btn btn-info">AHC FACULTY &amp; STAFF</span></a></p>
                           </div>
                        
                        <div class="col-md-12">
                           
                           <p>&nbsp;</p>
                           
                           <p>&nbsp;</p>
                           </div>
                        
                        <div class="col-md-3">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/research/index.html"><span class="btn btn-default">RESEARCH SERVICES</span></a></p>
                           </div>
                        <div class="col-md-3">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/toppan/rare-books.html"><span class="btn btn-default">TOPPAN RARE BOOKS</span></a></p>
                           </div>
                        <div class="col-md-3">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/eduoutreach/index.html"><span class="btn btn-default">EDUCATION &amp; OUTREACH</span></a></p>
                           </div>
                        <div class="col-md-3 spacing">
                           
                           <p style="text-align: center;"><a href="https://www.uwyo.edu/ahc/collections/digital.html"><span class="btn btn-default">DIGITAL COLLECTIONS</span></a></p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      <div class="no-parallax-overlay">
         
         <div class="container">
            
            <div class="col-md-12">
               
               <h2 class="large" style="text-align: left;">About Us</h2>
               </div>
            
            <div class="col-md-6">
               
               <p>More than 100 years ago, Grace Raymond Hebard—UW faculty member, administrator, librarian,
                  and Wyoming historian—began collecting the papers and reminiscences of Wyoming’s pioneers.
                  Her research on the history of Wyoming, the West, emigrant trails, and Native Americans
                  became the nucleus for what is known today as the American Heritage Center (AHC).&nbsp;Officially
                  established in 1945, the Center now holds over 90,000 cubic feet of historic documents
                  and artifacts in more than 3500 collections—placing the AHC among the largest non-governmental
                  archives in the nation.</p>
               
               <p>Today, the AHC contains important holdings in numerous areas. Its western history
                  archives include materials on early women’s suffrage and political achievements, native
                  Americans, ranching, politics, authors, and under-documented communities. Other featured
                  collecting areas include transportation (railroad, highway and air travel), mining
                  and energy extraction, entertainment and popular culture (with important collections
                  featuring Hollywood, music, radio, television and the comic book industry), natural
                  resources and the environment, and military history. The AHC also serves as the primary
                  archives for the University of Wyoming. Connect with us on our social media platforms
                  - <a href="https://www.facebook.com/ahcwyo" target="_blank" rel="noopener">Facebook</a>, <a href="https://twitter.com/ahcwyo" target="_blank" rel="noopener">Twitter</a>, <a href="https://www.instagram.com/ahcwyo/" target="_blank" rel="noopener">Instagram</a>, <a href="https://virmuze.com/m/uwyo-american-heritage-center/" target="_blank" rel="noopener">Virmuze</a>, and <a href="https://ahcwyo.org/" target="_blank" rel="noopener">our blog</a> - where we are #ALWAYS ARCHIVING. &nbsp;</p>
               
               <p>&nbsp;</p>
               
               <p><a href="http://eepurl.com/hZdOeX" target="_blank" rel="noopener"><span class="btn btn-default">Sign Up for Our Newsletter</span></a></p>
               
               <p>&nbsp;</p>
               </div>
            
            <div class="col-md-6 videoSpacingBottom"><a href="https://www.uwyo.edu/ahc/about/index.html"><img class="img-responsive" src="https://www.uwyo.edu/ahc/images/homepage/archive-boxes_stacks.jpg" alt="boxes of archival collections at the American Heritage Center"></a></div>
            
            <div class="col-md-6 videoSpacingBottom">&nbsp;</div>
            </div>
         </div>
      <div>
         <div class="fullGold">
            <div class="no-parallax-overlay">
               <div class="container">
                  <div class="row">
                     
                     <div class="col-md-12">
                        
                        <h2 class="large" style="text-align: left;">Visitor Information</h2>
                        </div>
                     
                     <div class="col-md-4">
                        
                        <h2 style="text-align: left;">Contact Us</h2>
                        
                        <p>Phone: (307) 766-3756<br>Fax: (307) 766-5511<br>Email: <a href="mailto:ahcref@uwyo.edu">ahcref@uwyo.edu</a> <br><strong><a href="https://www.uwyo.edu/ahc/contact/index.html" target="_blank" rel="noopener">Full Contact Information</a></strong></p>
                        
                        <h2>Connect with Us</h2>
                        
                        <p>&nbsp;<a href="https://www.facebook.com/ahcwyo" target="_blank" rel="noopener"><img class="" src="https://www.uwyo.edu/_resources/images/shared-assets/images/social-media/facebookicon.png" alt="Facebook logo" width="45" height="45"></a>&nbsp;<a href="https://www.instagram.com/ahcwyo/" target="_blank" rel="noopener"><img class="" src="https://www.uwyo.edu/_resources/images/shared-assets/images/social-media/instagramicon.png" alt="Instagram Logo" width="45" height="45"></a>&nbsp;<a href="https://twitter.com/ahcwyo" target="_blank" rel="noopener"><img class="" src="https://www.uwyo.edu/_resources/images/shared-assets/images/social-media/twittericon.png" alt="Twitter logo" width="45" height="45"></a>&nbsp;<a href="https://ahcwyo.org/" target="_blank" rel="noopener"><img class="" src="https://www.uwyo.edu/ahc/images/wordpress-icon.png" alt="WordPress logo" width="45" height="45"></a></p>
                        
                        <h2>Give to the AHC</h2>
                        
                        <p><a href="https://securelb.imodules.com/s/1254/giving/interior.aspx?SID=1254&amp;GID=1&amp;PGID=366&amp;CID=985" target="_blank" rel="noopener"><img class="" src="https://www.uwyo.edu/ahc/images/giving-icon.png" alt="gift box icon" width="45" height="45"></a></p>
                        
                        <h5>&nbsp;</h5>
                        
                        <h5><strong><a href="https://www.uwyo.edu/ahc/sitemap.html" target="_blank" rel="noopener">Web Page Site Map</a></strong></h5>
                        </div>
                     
                     <div class="col-md-4">
                        
                        <h2>Hours of Operation</h2>
                        
                        <div><span style="text-decoration: underline;"><strong><span class="s1">Public Display Areas</span></strong></span></div>
                        
                        <div>
                           
                           <ul>
                              
                              <li>
                                 
                                 <p>Monday - Friday, 10:00 am - 5:00 pm</p>
                                 </li>
                              </ul>
                           </div>
                        
                        <div class="p2"><span style="text-decoration: underline;"><strong><span class="s1">Reference Services &amp; Reading Room</span></strong></span></div>
                        
                        <ul>
                           
                           <li>
                              
                              <div>Monday - Friday, 9:00 am - 4:00 pm</div>
                              </li>
                           
                           <li>
                              
                              <div><span class="s1">To make an appointment, please visit </span><span class="s1">our</span><span class="s1">&nbsp;<a href="https://www.uwyo.edu/ahc/research/how-to-visit.html" target="_blank" rel="noopener">How to Visit Guide</a>.&nbsp;</span></div>
                              </li>
                           </ul>
                        
                        <p>&nbsp;</p>
                        
                        <h2>Parking</h2>
                        
                        <p>Parking in the Centennial Complex lot is free but patrons must register (M-F 8 am-5
                           pm) at the AHC front desk. Special parking regulations are in effect during game days,
                           please call in advance for more information.</p>
                        
                        <h2>AHC News</h2>
                        
                        <p><a href="https://www.uwyo.edu/ahc/ahc-press-release-page.html" target="_blank" rel="noopener">The latest news and press releases from the American Heritage Center</a>.</p>
                        </div>
                     
                     <div class="col-md-4">
                        
                        <h2>Street Address</h2>
                        
                        <p>Centennial Complex<br><span class="s1">2111 Willet Drive<br></span>Laramie, WY 82071&nbsp;</p>
                        
                        <h2>Mailing Address</h2>
                        
                        <p><strong><span class="s1">For US Postal Service:</span></strong><br><span class="s1">American Heritage Center<br></span><span class="s1"></span><span class="s1">University of Wyoming<br></span><span class="s1">1000 E. University Ave.<br></span><span class="s1">Dept. 3924<br></span><span class="s1">Laramie, WY 82071</span></p>
                        
                        <p><strong><span class="s1">For UPS &amp; FedEx:</span></strong><br><span class="s1">American Heritage Center<br></span><span class="s1"></span><span class="s1">University of Wyoming<br></span><span class="s1">16th &amp; Gibbon Street<br></span><span class="s1">Laramie, WY 82071<br></span>Attn: Bill Hopkins</p>
                        
                        <table style="width: 100%; margin-left: auto; margin-right: auto;">
                           
                           <tbody>
                              
                              <tr>
                                 
                                 <td>&nbsp;</td>
                                 </tr>
                              </tbody>
                           </table>
                        </div>
                     </div>
               </div>
            </div>
         </div>
      </div>
      <div class="parallax bgBrown  center" style="background-image: url('https://www.uwyo.edu/ahc/images/homepage/homepage-masthead-logo.png'); background-color: #492f24;" data-speed="4" data-type="background">
         
         <div class="parallax-overlay" style="background: linear-gradient(to bottom, rgba(19, 19, 19, 0.80) 9%, rgba(19, 19, 19, 0.48) 25%, rgba(150, 127, 63, 0) 40%);">
            
            <div class="container">
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               
               <div class="col-md-12">&nbsp;</div>
               </div>
            </div>
         </div>
      <footer class="footer clearfix">
   <div class="f-top clearfix">
      <div class="container">
         <div class="f-top-content">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="f-left">
                     <div class="f-logo"><a href="https://www.uwyo.edu/index.html"><img src="https://www.uwyo.edu/_resources/images/coffee-logo.png" alt="University of Wyoming Logo" class="img-responsive"></a></div>
                     <div class="f-social-icons hidden-xs">
                        <ul>
                           <li><a href="https://www.instagram.com/uofwyoming/"><span class="sr-only">Instagram</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.40918C7.28375 0.40918 6.94375 0.420533 5.8775 0.463675C4.8125 0.509087 4.0875 0.661219 3.45 0.886012C2.7925 1.11762 2.23375 1.42869 1.67875 1.93391C1.1225 2.43799 0.77875 2.94434 0.525 3.54265C0.2775 4.12166 0.10875 4.78014 0.06 5.74743C0.01 6.71585 0 7.02465 0 9.49169C0 11.9587 0.0125 12.2675 0.06 13.236C0.11 14.2032 0.2775 14.8629 0.525 15.4407C0.78 16.0379 1.1225 16.5454 1.67875 17.0495C2.23375 17.5547 2.79125 17.8669 3.45 18.0974C4.0875 18.3222 4.8125 18.4754 5.8775 18.5197C6.94375 18.5651 7.28375 18.5742 10 18.5742C12.7163 18.5742 13.0563 18.5628 14.1225 18.5197C15.1875 18.4743 15.9137 18.3222 16.55 18.0974C17.2075 17.8658 17.7662 17.5547 18.3212 17.0495C18.8775 16.5454 19.2213 16.039 19.475 15.4407C19.7225 14.8617 19.8912 14.2032 19.94 13.236C19.99 12.2675 20 11.9587 20 9.49169C20 7.02465 19.9875 6.71585 19.94 5.74743C19.89 4.78014 19.7225 4.12052 19.475 3.54265C19.22 2.94547 18.8775 2.43799 18.3212 1.93391C17.7662 1.42869 17.2087 1.11648 16.55 0.886012C15.9125 0.661219 15.1875 0.507952 14.1225 0.463675C13.0563 0.418262 12.7163 0.40918 10 0.40918ZM10 2.04403C12.67 2.04403 12.9875 2.05538 14.0413 2.09853C15.0162 2.1394 15.545 2.28699 15.8975 2.41187C16.365 2.57649 16.6975 2.7729 17.0475 3.09079C17.3975 3.40868 17.6138 3.71067 17.795 4.13528C17.9325 4.45544 18.095 4.93568 18.14 5.82122C18.1875 6.77943 18.1987 7.06666 18.1987 9.49169C18.1987 11.9167 18.1863 12.2051 18.1362 13.1622C18.0863 14.0477 17.9237 14.5279 17.7863 14.8481C17.5987 15.2727 17.3862 15.5747 17.0362 15.8926C16.6862 16.2105 16.3487 16.4069 15.8862 16.5715C15.5362 16.6964 14.9987 16.844 14.0238 16.8849C12.9612 16.928 12.6488 16.9382 9.97375 16.9382C7.29875 16.9382 6.98625 16.9269 5.92375 16.8815C4.94875 16.836 4.41125 16.6884 4.06125 16.5636C3.58625 16.3933 3.26125 16.2003 2.91125 15.8824C2.56125 15.5645 2.33625 15.258 2.16125 14.8379C2.02375 14.52 1.86125 14.0318 1.81125 13.1463C1.77375 12.1926 1.76125 11.8974 1.76125 9.4792C1.76125 7.06098 1.77375 6.7658 1.81125 5.80079C1.86125 4.91524 2.02375 4.42706 2.16125 4.10917C2.33625 3.67775 2.56125 3.38257 2.91125 3.06468C3.26125 2.74679 3.58625 2.54243 4.06125 2.38349C4.41125 2.25861 4.93625 2.11102 5.91125 2.0656C6.97375 2.03154 7.28625 2.02019 9.96125 2.02019L10 2.04403ZM10 4.82782C7.1625 4.82782 4.865 6.9168 4.865 9.49169C4.865 12.0689 7.165 14.1556 10 14.1556C12.8375 14.1556 15.135 12.0666 15.135 9.49169C15.135 6.91453 12.835 4.82782 10 4.82782ZM10 12.5196C8.15875 12.5196 6.66625 11.164 6.66625 9.49169C6.66625 7.81937 8.15875 6.46381 10 6.46381C11.8413 6.46381 13.3337 7.81937 13.3337 9.49169C13.3337 11.164 11.8413 12.5196 10 12.5196ZM16.5375 4.6439C16.5375 5.24562 16 5.7338 15.3375 5.7338C14.675 5.7338 14.1375 5.24562 14.1375 4.6439C14.1375 4.04218 14.675 3.554 15.3375 3.554C16 3.554 16.5375 4.04218 16.5375 4.6439Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.tiktok.com/@uofwyoming"><span class="sr-only">Tiktok</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <path d="M9.9999 18.1C7.6999 18.1 5.3999 18.1 3.0999 18.1C1.8999 18.1 0.899902 17.2 0.899902 15.9C0.899902 11.3 0.899902 6.8 0.899902 2.2C0.899902 1.1 1.5999 0.3 2.5999 0C2.6999 0 2.8999 0 3.0999 0C7.6999 0 12.2999 0 16.8999 0C18.0999 0 19.0999 1 19.0999 2.2C19.0999 6.8 19.0999 11.4 19.0999 15.9C19.0999 17.1 18.0999 18.1 16.8999 18.1C14.5999 18.1 12.2999 18.1 9.9999 18.1ZM8.6999 7.7C8.5999 7.7 8.5999 7.7 8.4999 7.7C6.2999 7.6 4.4999 9.8 4.8999 12C5.3999 14.7 8.4999 15.9 10.6999 14.3C11.6999 13.6 12.1999 12.6 12.1999 11.3C12.1999 9.7 12.1999 8.1 12.1999 6.5C12.1999 6.4 12.1999 6.4 12.1999 6.3C12.9999 7.3 13.8999 7.8 15.1999 7.7C15.1999 7 15.1999 6.4 15.1999 5.7C13.4999 5.4 12.4999 4.5 12.1999 2.8C11.5999 2.8 11.0999 2.8 10.4999 2.8C10.4999 2.9 10.4999 2.9 10.4999 3C10.4999 5.7 10.4999 8.5 10.4999 11.2C10.4999 12 10.0999 12.7 9.2999 13C8.4999 13.3 7.6999 13.1 7.0999 12.5C6.5999 11.9 6.3999 11 6.7999 10.3C7.1999 9.6 7.7999 9.3 8.6999 9.3C8.6999 8.9 8.6999 8.3 8.6999 7.7Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.facebook.com/uwpride/"><span class="sr-only">Facebook</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <path d="M18.2307 0.40918H1.07361C0.485393 0.40918 0.00927734 0.857629 0.00927734 1.41166V17.5717C0.00927734 18.1258 0.485393 18.5742 1.07361 18.5742H10.3103V11.5398H7.79588V8.79915H10.3103V6.77489C10.3103 4.42933 11.8314 3.15323 14.0541 3.15323C15.1184 3.15323 16.0333 3.22589 16.2997 3.25995V5.71223H14.7568C13.5515 5.71223 13.3164 6.25718 13.3164 7.0519V8.80029H16.1972L15.8236 11.5477H13.3164V18.5742H18.2307C18.8189 18.5742 19.295 18.1258 19.295 17.5717V1.41166C19.295 0.857629 18.8189 0.40918 18.2307 0.40918Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://twitter.com/UWyonews"><span class="sr-only">Twitter</span><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15" fill="none">
                                    <path d="M20.266 1.86682C19.5289 2.16183 18.7419 2.36267 17.9112 2.45344C18.7569 1.99164 19.4077 1.26206 19.7138 0.392915C18.9218 0.812735 18.0436 1.11909 17.1092 1.28929C16.3622 0.563113 15.2978 0.109253 14.1161 0.109253C11.8525 0.109253 10.0161 1.77719 10.0161 3.8309C10.0161 4.12591 10.0536 4.40957 10.1223 4.68189C6.71443 4.53438 3.69257 3.04799 1.67008 0.801389C1.31531 1.34716 1.11543 1.98256 1.11543 2.67469C1.11543 3.96819 1.83998 5.10625 2.93929 5.77456C2.26721 5.75527 1.63386 5.58734 1.0817 5.30935V5.35474C1.0817 7.15883 2.49332 8.66564 4.3709 9.00831C4.02611 9.09227 3.66384 9.13766 3.29032 9.13766C3.02799 9.13766 2.77814 9.11496 2.5283 9.07185C3.05297 10.5514 4.56452 11.6282 6.3634 11.6588C4.96427 12.6573 3.19038 13.2519 1.27908 13.2519C0.954281 13.2519 0.629484 13.2349 0.304688 13.2008C2.12855 14.2561 4.2772 14.8733 6.60075 14.8733C14.146 14.8733 18.2685 9.20006 18.2685 4.28703C18.2685 4.12818 18.2685 3.96933 18.256 3.81048C19.0555 3.28854 19.755 2.63044 20.3047 1.88157L20.266 1.86682Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.linkedin.com/school/university-of-wyoming/"><span class="sr-only">Linkedin</span><svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                                    <path d="M17.354 15.6602H14.3915V11.5952C14.3915 10.6252 14.369 9.37829 12.849 9.37829C11.3052 9.37829 11.069 10.4337 11.069 11.5241V15.6602H8.10647V7.30149H10.9515V8.44006H10.989C11.3865 7.78319 12.354 7.09019 13.7977 7.09019C16.7977 7.09019 17.354 8.81995 17.354 11.0719V15.6569V15.6602ZM4.76147 6.15744C3.80896 6.15744 3.04146 5.48196 3.04146 4.64992C3.04146 3.82008 3.80896 3.1446 4.76147 3.1446C5.71146 3.1446 6.48146 3.82008 6.48146 4.64992C6.48146 5.48196 5.71022 6.15744 4.76147 6.15744ZM6.24646 15.6602H3.27646V7.30149H6.24646V15.6602ZM18.834 0.732788H1.78896C0.973965 0.732788 0.313965 1.2977 0.313965 1.99507V16.987C0.313965 17.6844 0.973965 18.2493 1.78896 18.2493H18.8327C19.6477 18.2493 20.314 17.6844 20.314 16.987V1.99507C20.314 1.2977 19.6477 0.732788 18.8327 0.732788H18.834Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.youtube.com/c/universityofwyoming"><span class="sr-only">Youtube</span><svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.323242 5.80117C0.323242 4.3845 0.523242 2.96565 0.523242 2.96565C0.523242 2.96565 0.718242 1.76137 1.31824 1.22821C2.07824 0.530822 3.07824 0.552718 3.52324 0.479367C5.12324 0.343612 10.3232 0.304199 10.3232 0.304199C10.3232 0.304199 14.5257 0.308579 17.3232 0.485935C17.7157 0.527538 18.5682 0.529727 19.3282 1.22821C19.9282 1.76028 20.1232 2.96674 20.1232 2.96674C20.1232 2.96674 20.3232 4.38341 20.3232 5.80226V7.17951C20.3232 8.59837 20.1232 10.015 20.1232 10.015C20.1232 10.015 19.9282 11.2215 19.3282 11.7536C18.5682 12.452 17.7157 12.4542 17.3232 12.4958C14.5257 12.6732 10.3232 12.6776 10.3232 12.6776C10.3232 12.6776 5.12324 12.6371 3.52324 12.5024C3.07824 12.4291 2.07824 12.451 1.31824 11.7536C0.718242 11.2204 0.523242 10.0161 0.523242 10.0161C0.523242 10.0161 0.323242 8.59837 0.323242 7.18061V5.80117ZM8.25824 8.78996V3.86885L13.662 6.33762L8.26199 8.78996H8.25824Z" fill="#492F24"/></svg></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                  <div class="f-right">
                     <p><strong>UW Operator:</strong> (307) 766-1121<br><a href="https://www.uwyo.edu/uw/people.html" class="common-link2">Contact Us</a> | <a href="https://get.adobe.com/reader/" class="common-link2">Download Adobe Reader</a></p>
                     <p><strong><a href="https://www.uwyo.edu/uw/webdirectory/index.html" class="common-link2">A-Z DIRECTORY</a> &amp; <a class="common-link2" href="https://directory.uwyo.edu/">PEOPLE FINDER</a></strong></p>
                     <div style="opacity:0;font-size:6px;"><a href="#" id="directedit">©</a></div>
                     <div class="f-social-icons visible-xs">
                        <ul>
                           <li><a href="https://www.instagram.com/uofwyoming/"><span class="sr-only">Instagram</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.40918C7.28375 0.40918 6.94375 0.420533 5.8775 0.463675C4.8125 0.509087 4.0875 0.661219 3.45 0.886012C2.7925 1.11762 2.23375 1.42869 1.67875 1.93391C1.1225 2.43799 0.77875 2.94434 0.525 3.54265C0.2775 4.12166 0.10875 4.78014 0.06 5.74743C0.01 6.71585 0 7.02465 0 9.49169C0 11.9587 0.0125 12.2675 0.06 13.236C0.11 14.2032 0.2775 14.8629 0.525 15.4407C0.78 16.0379 1.1225 16.5454 1.67875 17.0495C2.23375 17.5547 2.79125 17.8669 3.45 18.0974C4.0875 18.3222 4.8125 18.4754 5.8775 18.5197C6.94375 18.5651 7.28375 18.5742 10 18.5742C12.7163 18.5742 13.0563 18.5628 14.1225 18.5197C15.1875 18.4743 15.9137 18.3222 16.55 18.0974C17.2075 17.8658 17.7662 17.5547 18.3212 17.0495C18.8775 16.5454 19.2213 16.039 19.475 15.4407C19.7225 14.8617 19.8912 14.2032 19.94 13.236C19.99 12.2675 20 11.9587 20 9.49169C20 7.02465 19.9875 6.71585 19.94 5.74743C19.89 4.78014 19.7225 4.12052 19.475 3.54265C19.22 2.94547 18.8775 2.43799 18.3212 1.93391C17.7662 1.42869 17.2087 1.11648 16.55 0.886012C15.9125 0.661219 15.1875 0.507952 14.1225 0.463675C13.0563 0.418262 12.7163 0.40918 10 0.40918ZM10 2.04403C12.67 2.04403 12.9875 2.05538 14.0413 2.09853C15.0162 2.1394 15.545 2.28699 15.8975 2.41187C16.365 2.57649 16.6975 2.7729 17.0475 3.09079C17.3975 3.40868 17.6138 3.71067 17.795 4.13528C17.9325 4.45544 18.095 4.93568 18.14 5.82122C18.1875 6.77943 18.1987 7.06666 18.1987 9.49169C18.1987 11.9167 18.1863 12.2051 18.1362 13.1622C18.0863 14.0477 17.9237 14.5279 17.7863 14.8481C17.5987 15.2727 17.3862 15.5747 17.0362 15.8926C16.6862 16.2105 16.3487 16.4069 15.8862 16.5715C15.5362 16.6964 14.9987 16.844 14.0238 16.8849C12.9612 16.928 12.6488 16.9382 9.97375 16.9382C7.29875 16.9382 6.98625 16.9269 5.92375 16.8815C4.94875 16.836 4.41125 16.6884 4.06125 16.5636C3.58625 16.3933 3.26125 16.2003 2.91125 15.8824C2.56125 15.5645 2.33625 15.258 2.16125 14.8379C2.02375 14.52 1.86125 14.0318 1.81125 13.1463C1.77375 12.1926 1.76125 11.8974 1.76125 9.4792C1.76125 7.06098 1.77375 6.7658 1.81125 5.80079C1.86125 4.91524 2.02375 4.42706 2.16125 4.10917C2.33625 3.67775 2.56125 3.38257 2.91125 3.06468C3.26125 2.74679 3.58625 2.54243 4.06125 2.38349C4.41125 2.25861 4.93625 2.11102 5.91125 2.0656C6.97375 2.03154 7.28625 2.02019 9.96125 2.02019L10 2.04403ZM10 4.82782C7.1625 4.82782 4.865 6.9168 4.865 9.49169C4.865 12.0689 7.165 14.1556 10 14.1556C12.8375 14.1556 15.135 12.0666 15.135 9.49169C15.135 6.91453 12.835 4.82782 10 4.82782ZM10 12.5196C8.15875 12.5196 6.66625 11.164 6.66625 9.49169C6.66625 7.81937 8.15875 6.46381 10 6.46381C11.8413 6.46381 13.3337 7.81937 13.3337 9.49169C13.3337 11.164 11.8413 12.5196 10 12.5196ZM16.5375 4.6439C16.5375 5.24562 16 5.7338 15.3375 5.7338C14.675 5.7338 14.1375 5.24562 14.1375 4.6439C14.1375 4.04218 14.675 3.554 15.3375 3.554C16 3.554 16.5375 4.04218 16.5375 4.6439Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.tiktok.com/@uofwyoming"><span class="sr-only">Tiktok</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <path d="M9.9999 18.1C7.6999 18.1 5.3999 18.1 3.0999 18.1C1.8999 18.1 0.899902 17.2 0.899902 15.9C0.899902 11.3 0.899902 6.8 0.899902 2.2C0.899902 1.1 1.5999 0.3 2.5999 0C2.6999 0 2.8999 0 3.0999 0C7.6999 0 12.2999 0 16.8999 0C18.0999 0 19.0999 1 19.0999 2.2C19.0999 6.8 19.0999 11.4 19.0999 15.9C19.0999 17.1 18.0999 18.1 16.8999 18.1C14.5999 18.1 12.2999 18.1 9.9999 18.1ZM8.6999 7.7C8.5999 7.7 8.5999 7.7 8.4999 7.7C6.2999 7.6 4.4999 9.8 4.8999 12C5.3999 14.7 8.4999 15.9 10.6999 14.3C11.6999 13.6 12.1999 12.6 12.1999 11.3C12.1999 9.7 12.1999 8.1 12.1999 6.5C12.1999 6.4 12.1999 6.4 12.1999 6.3C12.9999 7.3 13.8999 7.8 15.1999 7.7C15.1999 7 15.1999 6.4 15.1999 5.7C13.4999 5.4 12.4999 4.5 12.1999 2.8C11.5999 2.8 11.0999 2.8 10.4999 2.8C10.4999 2.9 10.4999 2.9 10.4999 3C10.4999 5.7 10.4999 8.5 10.4999 11.2C10.4999 12 10.0999 12.7 9.2999 13C8.4999 13.3 7.6999 13.1 7.0999 12.5C6.5999 11.9 6.3999 11 6.7999 10.3C7.1999 9.6 7.7999 9.3 8.6999 9.3C8.6999 8.9 8.6999 8.3 8.6999 7.7Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.facebook.com/uwpride/"><span class="sr-only">Facebook</span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                                    <path d="M18.2307 0.40918H1.07361C0.485393 0.40918 0.00927734 0.857629 0.00927734 1.41166V17.5717C0.00927734 18.1258 0.485393 18.5742 1.07361 18.5742H10.3103V11.5398H7.79588V8.79915H10.3103V6.77489C10.3103 4.42933 11.8314 3.15323 14.0541 3.15323C15.1184 3.15323 16.0333 3.22589 16.2997 3.25995V5.71223H14.7568C13.5515 5.71223 13.3164 6.25718 13.3164 7.0519V8.80029H16.1972L15.8236 11.5477H13.3164V18.5742H18.2307C18.8189 18.5742 19.295 18.1258 19.295 17.5717V1.41166C19.295 0.857629 18.8189 0.40918 18.2307 0.40918Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://twitter.com/UWyonews"><span class="sr-only">Twitter</span><svg xmlns="http://www.w3.org/2000/svg" width="21" height="15" viewBox="0 0 21 15" fill="none">
                                    <path d="M20.266 1.86682C19.5289 2.16183 18.7419 2.36267 17.9112 2.45344C18.7569 1.99164 19.4077 1.26206 19.7138 0.392915C18.9218 0.812735 18.0436 1.11909 17.1092 1.28929C16.3622 0.563113 15.2978 0.109253 14.1161 0.109253C11.8525 0.109253 10.0161 1.77719 10.0161 3.8309C10.0161 4.12591 10.0536 4.40957 10.1223 4.68189C6.71443 4.53438 3.69257 3.04799 1.67008 0.801389C1.31531 1.34716 1.11543 1.98256 1.11543 2.67469C1.11543 3.96819 1.83998 5.10625 2.93929 5.77456C2.26721 5.75527 1.63386 5.58734 1.0817 5.30935V5.35474C1.0817 7.15883 2.49332 8.66564 4.3709 9.00831C4.02611 9.09227 3.66384 9.13766 3.29032 9.13766C3.02799 9.13766 2.77814 9.11496 2.5283 9.07185C3.05297 10.5514 4.56452 11.6282 6.3634 11.6588C4.96427 12.6573 3.19038 13.2519 1.27908 13.2519C0.954281 13.2519 0.629484 13.2349 0.304688 13.2008C2.12855 14.2561 4.2772 14.8733 6.60075 14.8733C14.146 14.8733 18.2685 9.20006 18.2685 4.28703C18.2685 4.12818 18.2685 3.96933 18.256 3.81048C19.0555 3.28854 19.755 2.63044 20.3047 1.88157L20.266 1.86682Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.linkedin.com/school/university-of-wyoming/"><span class="sr-only">Linkedin</span><svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 19" fill="none">
                                    <path d="M17.354 15.6602H14.3915V11.5952C14.3915 10.6252 14.369 9.37829 12.849 9.37829C11.3052 9.37829 11.069 10.4337 11.069 11.5241V15.6602H8.10647V7.30149H10.9515V8.44006H10.989C11.3865 7.78319 12.354 7.09019 13.7977 7.09019C16.7977 7.09019 17.354 8.81995 17.354 11.0719V15.6569V15.6602ZM4.76147 6.15744C3.80896 6.15744 3.04146 5.48196 3.04146 4.64992C3.04146 3.82008 3.80896 3.1446 4.76147 3.1446C5.71146 3.1446 6.48146 3.82008 6.48146 4.64992C6.48146 5.48196 5.71022 6.15744 4.76147 6.15744ZM6.24646 15.6602H3.27646V7.30149H6.24646V15.6602ZM18.834 0.732788H1.78896C0.973965 0.732788 0.313965 1.2977 0.313965 1.99507V16.987C0.313965 17.6844 0.973965 18.2493 1.78896 18.2493H18.8327C19.6477 18.2493 20.314 17.6844 20.314 16.987V1.99507C20.314 1.2977 19.6477 0.732788 18.8327 0.732788H18.834Z" fill="#492F24"/></svg></a></li>
                           <li><a href="https://www.youtube.com/c/universityofwyoming"><span class="sr-only">Youtube</span><svg xmlns="http://www.w3.org/2000/svg" width="21" height="19" viewBox="0 0 21 13" fill="none">
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M0.323242 5.80117C0.323242 4.3845 0.523242 2.96565 0.523242 2.96565C0.523242 2.96565 0.718242 1.76137 1.31824 1.22821C2.07824 0.530822 3.07824 0.552718 3.52324 0.479367C5.12324 0.343612 10.3232 0.304199 10.3232 0.304199C10.3232 0.304199 14.5257 0.308579 17.3232 0.485935C17.7157 0.527538 18.5682 0.529727 19.3282 1.22821C19.9282 1.76028 20.1232 2.96674 20.1232 2.96674C20.1232 2.96674 20.3232 4.38341 20.3232 5.80226V7.17951C20.3232 8.59837 20.1232 10.015 20.1232 10.015C20.1232 10.015 19.9282 11.2215 19.3282 11.7536C18.5682 12.452 17.7157 12.4542 17.3232 12.4958C14.5257 12.6732 10.3232 12.6776 10.3232 12.6776C10.3232 12.6776 5.12324 12.6371 3.52324 12.5024C3.07824 12.4291 2.07824 12.451 1.31824 11.7536C0.718242 11.2204 0.523242 10.0161 0.523242 10.0161C0.523242 10.0161 0.323242 8.59837 0.323242 7.18061V5.80117ZM8.25824 8.78996V3.86885L13.662 6.33762L8.26199 8.78996H8.25824Z" fill="#492F24"/></svg></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="f-bottom clearfix">
      <div class="container-fluid">
         <ul>
            <li><a href="https://www.uwyo.edu/accreditation/index.html" target="_blank" rel="noopener">Accreditation</a></li>
            <li><a href="https://www.uwyo.edu/web/index.html">Website Help</a></li>
            <li><a href="https://www.uwyo.edu/uw/ems/index.html">Emergency Preparedness</a></li>
            <li><a href="https://www.uwyo.edu/hr/prospective/index.html">Employment at UW</a></li>
            <li><a href="https://www.uwyo.edu/uw/disclaimer.html">Privacy Policy</a></li>
            <li><a href="https://www.uwyo.edu/reportit/index.html">Harassment &amp; Discrimination</a></li>
            <li><a href="https://www.uwyo.edu/hr/eeo-aa/accessibility-resources/index.html">Accessibility</a></li>
         </ul>
      </div>
   </div>
</footer>

<!-- scripts -->
<script is:inline src="https://www.uwyo.edu/_resources/js/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script is:inline src="https://www.uwyo.edu/_resources/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/jquery-migrate-1.4.1.min.js"></script>
<!--YouVisit Script-->
<script is:inline async="async" defer="defer" src="https://www.uwyo.edu/_resources/js/js2.js" type="text/javascript"></script>
<!--END YouVisit Script-->
<script is:inline src="https://www.uwyo.edu/_resources/js/jquery.magnific-popup.min.js"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/slick.min.js"></script><!--1.5.7 Same -->
<script is:inline src="https://www.uwyo.edu/_resources/js/jquery-ui.js"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/uw.js"></script>
<script is:inline crossorigin="anonymous" src="https://www.uwyo.edu/_resources/js/e2f6d5f30d.js"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/handlebars.min.js"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/typeahead.bundle-0.11.1.min.js"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/typeahead.fb-2.6.js"></script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- <script is:inline src="https://www.uwyo.edu/_resources/js/jquery-3.6.0.min.js"></script> -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!-- ofi -->
<script is:inline src="https://www.uwyo.edu/_resources/js/ofi.min.js"></script>
<script is:inline src="https://www.uwyo.edu/_resources/js/custom.js"></script>

<!--SiteImprove Code-->
<script is:inline type="text/javascript">// <![CDATA[
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = 'https://siteimproveanalytics.com/js/siteanalyze_9260.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
// ]]></script>




<script is:inline src="https://www.uwyo.edu/ou-alerts/alerts-config.alerts.js?v=2.1-20230620172727"></script>
<script is:inline>
	// archive alert processing
	if (document.getElementById(ouEmergencyAlerts.archivedAlertDivId)) {
		ouEmergencyAlerts.loadAlertFeed("processAlertFeedForArchivePage", "activeAlertFeed", "archiveActiveAlertHeading");  
		setTimeout(function() {
			ouEmergencyAlerts.loadAlertFeed("processAlertFeedForArchivePage", "archiveAlertFeed", "archiveAlertHeading");
		}, 200);
	}
	// active alert processing
	ouEmergencyAlerts.determineActiveAlertOutput();
</script>
<script is:inline type="text/template" id="oualerts-active-announcement">
<div id="oualerts-active-alert-display" class="h-alert clearfix">
	<div class="container">
		<a id="oualerts-close-button" class="alert-close btn-low-action" href="#"><span class="sr-only">Close Alert</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
			</svg>
		</a>
		<div class="h-alert-content">
			<ul>
				<li>{%=o.title%} 
					{% if (o.subtitle) { %}
					| {%=o.subtitle %}
					{% } %}
				</li>
			</ul>
			{% if (o.showDate) { %}
				<p>{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</p>
			{% } %}
			<p>
				{%=o.description %} 
				{% if (o.guid) { %}
					<a href="{%=o.guid %}" class="coffee-layout common-link link-arrow">Read More...</a>
				{% } %}
			</p>
		</div>
	</div>
</div>
</script>

<script is:inline type="text/template" id="oualerts-active-warning">
<div id="oualerts-active-alert-display" class="h-alert clearfix">
	<div class="container">
		<a id="oualerts-close-button" class="alert-close btn-low-action" href="#"><span class="sr-only">Close Alert</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
			</svg>
		</a>
		<div class="h-alert-content">
			<ul>
				<li>{%=o.title%} 
					{% if (o.subtitle) { %}
					| {%=o.subtitle %}
					{% } %}
				</li>
			</ul>
			{% if (o.showDate) { %}
				<p>{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</p>
			{% } %}
			<p>
				{%=o.description %} 
				{% if (o.guid) { %}
					<a href="{%=o.guid %}" class="coffee-layout common-link link-arrow">Read More...</a>
				{% } %}
			</p>
		</div>
	</div>
</div>
</script>

<script is:inline type="text/template" id="oualerts-active-emergency">
<div id="oualerts-active-alert-display" class="h-alert clearfix">
	<div class="container">
		<a id="oualerts-close-button" class="alert-close btn-low-action" href="#"><span class="sr-only">Close Alert</span>
			<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
				<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
			</svg>
		</a>
		<div class="h-alert-content">
			<ul>
				<li>{%=o.title%} 
					{% if (o.subtitle) { %}
					| {%=o.subtitle %}
					{% } %}
				</li>
			</ul>
			{% if (o.showDate) { %}
				<p>{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o.pubDate)%}</p>
			{% } %}
			<p>
				{%=o.description %} 
				{% if (o.guid) { %}
					<a href="{%=o.guid %}" class="coffee-layout common-link link-arrow">READ MORE</a>
				{% } %}
			</p>
		</div>
	</div>
</div>
</script>
<script is:inline type="text/template" id="oualerts-archived-template">
{% if (o[0].htmlHeading) { %}
<h2 class="oualerts-archive-main-heading">{%=o[0].htmlHeading %}</h2>
{% } %}
<ul class="oualerts-achive-list">
	{% for (var i=0; o.length > i; i++) { %}
	<li class="oualerts-achive-list-item oualerts-archive-type-{%=o[i].severity%}">
		<div class="oualerts-achive-list-item-inner">
			<h3 class="oualerts-archive-title">{%=o[i].title%}</h3>
			<div class="oualerts-archive-date">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o[i].pubDate)%}</div>
			{% if (o[i].subtitle) { %}
			<p class="oualerts-archive-subtitle"><strong>{%=o[i].subtitle %}</strong></p>
			{% } %}
			{% if (o[i].description) { %}
			<p class="oualerts-archive-msg">{%=o[i].description %}
				{% } %}
				{% if (o[i].guid) { %}
				<a href="{%=o[i].guid %}" class="oualerts-archive-link">{%=ouEmergencyAlerts[o[i].severity + "Archive"].readMoreText%}</a>
				{% } %}
				{% if (o[i].description) { %}
			</p>
			{% } %}
			{% if (o[i].updates) { %}
			<h4 class="oualerts-archive-list-update-header">{%=ouEmergencyAlerts[o[i].severity + "Archive"].updateText %}</h4>
			<ul class="oualerts-achive-list-update">
				{% for (var k=0; o[i].updates.length > k; k++) { %}
				<li class="oualerts-achive-list-item-update">
					<div class="oualerts-achive-list-item-update-inner">
						<h5 class="oualerts-archive-title-update">{%=o[i].updates[k].title%}</h5>
						<div class="oualerts-archive-date-update">{%=ouEmergencyAlerts.alertDateFormat("F d, Y h:i A",o[i].updates[k].pubDate)%}</div>
						{% if (o[i].updates[k].subtitle) { %}
						<p class="oualerts-archive-subtitle-update"><strong>{%=o[i].updates[k].subtitle %}</strong></p>
						{% } %}
						{% if (o[i].updates[k].description) { %}
						<p class="oualerts-archive-msg-update">{%=o[i].updates[k].description %}
							{% } %}
							{% if (o[i].updates[k].guid) { %}
							<a href="{%=o[i].updates[k].guid %}" class="oualerts-archive-link-update">{%=ouEmergencyAlerts[o[i].severity + "Archive"].readMoreText%}</a>
							{% } %}
							{% if (o[i].updates[k].description) { %}
						</p>
						{% } %}
					</div>
				</li>
				{% } %}
			</ul>
			{% } %}
		</div>
	</li>
	{% } %}
</ul>
</script>


<!--Start Search Scripts-->
<script is:inline src="https://www.uwyo.edu/_resources/includes/base.js"></script>

<script is:inline id="auto-completion-events" type="text/x-handlebar-template"><div class="media"><div class="media-body"><h6>{{{extra.disp.title}}}</h6><div class="text-muted">{{{extra.disp.metaData.eventDateTimeFormatted}}}</div></div></div></script><script is:inline id="auto-completion-people" type="text/x-handlebar-template"><div class="media">
              {{#if extra.disp.metaData.image}}
                <img alt="{extra.disp.title}" class="d-flex mr-3 rounded-circle" src="{extra.disp.metaData.image}"/>
              {{/if}}
              <div class="media-body"><h6>{{{extra.disp.title}}}</h6><div>{{{extra.disp.metaData.peoplePosition}}}</div><div class="details text-muted">
                  {{#if extra.disp.metaData.peopleDepartment}}<div><small><span aria-hidden="true" class="fas fa-fw fa-university text-muted"></span> {{{extra.disp.metaData.peopleDepartment}}}</small></div>{{/if}}
</div></div></div></script><script is:inline>
jQuery('input[name=query]').qc({
	program: 'https://uwyo-search.clients.us.funnelback.com/s/suggest.json',
	alpha: '0.5',
	show: '10',
	sort: '0',
	length: '3',
	datasets: {
		organic: {
			name: 'Suggestions',
			collection: 'uwyo-search',
			profile: '_default',
			show: '10',
		},
		events: {
			name: 'Events',
			collection: 'uwyo-events-web',
			profile: 'auto-completion',
			show: '5',
			template: {
				suggestion: document.querySelector('#auto-completion-events').text
			},
		},
		people: {
			name: 'People',
			collection: 'uwyo-people-sftp',
			profile: 'auto-completion',
			show: '5',
			template: {
				suggestion: document.querySelector('#auto-completion-people').text
			},
		},
	}
});

</script>

<script is:inline src="https://kit.fontawesome.com/9244f1b63a.js" crossorigin="anonymous"></script>
      <div id="ou-hidden" style="display:none;"><a id="de" rel="nofollow" href="https://a.cms.omniupdate.com/11/?skin=oucampus&amp;account=uwyo&amp;site=www&amp;action=de&amp;path=/ahc/index.pcf">&copy;</a></div><script is:inline>
			if(document.getElementById("de") != null && document.getElementById("directedit")) {
				var link = document.getElementById("de").parentNode.innerHTML;
				document.getElementById("de").parentNode.innerHTML = "";
				document.getElementById("directedit").innerHTML = link.replace(/^\s+|\s+$/gm,'');
			}
		</script><!-- ouc:info uuid="71df1df8-a0c3-43bf-9771-20a295990ed9"/ --></body>

    <script is:inline type='module' src='https://interfaces.zapier.com/assets/web-components/zapier-interfaces/zapier-interfaces.esm.js'></script>
<zapier-interfaces-chatbot-embed is-popup='true' isOpen='true' chatbot-id='clr6yem0700g734rjv53zkj4u' height='600px' width='400px'></zapier-interfaces-chatbot-embed>
    
<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {

const chatbot = document.querySelector('is-zpopup');

if (chatbot) {

    chatbot.classList.add("is-zpopup__opened")
}

});
  </script>
</html>